

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: black;
	overflow: hidden;
}

button {
	color: green;
	background: black;
	border: none;
	outline: none;
	font-size: 12px;
	border-radius: 5px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
	color: white;
}

#menu {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

canvas {
	cursor: default;
	filter: blur(0.5px);
}